.theme-dark .headerNormal-T_seeN,
.theme-dark .footer-1fjuF6,
.theme-dark .body-3iLsc4 {
	background: none;
}

.headerTextNormal-2mGWX3 {
	text-shadow: 0 0 8px #FFFFFF;
}

.profileBadge-2BqF-Z {
	background-repeat: no-repeat;
	color: white;
}

.topSectionNormal-2-vo2m .discriminator-xUhQkU {
	color: #ffffff;
	opacity: 1;
}

.discriminator-xUhQkU {
	font-size: 14px;
	color: #fff;
	opacity: 1;
}

.input-cIJ7To {
	color: #FFFFFF !important;
}

.activityName-1IaRLn,
.nameNormal-2lqVQK,
.nameWrap-3Z4G_9 {
	left: -200px;
}

.marginBottom20-32qID7 + div > .viewBody-2Qz-jg{
    filter: blur(10px);
    transition: .2s;
}

.marginBottom20-32qID7 + div > .viewBody-2Qz-jg:hover{
    filter: blur(0px);
    transition: .2s;
}

.titleBar-AC4pGV {
	background-color: transparent;
}

.userInfoSectionHeader-CBvMDh {
	text-shadow: 0 0 8px #FFFFFF;
	color: white;
}

.input-cIJ7To::placeholder {
	color: white;
	opacity: 0.6;
}

.typing-2GQL18 {
	animation: zoom .5s;
}

.nameNormal-2lqVQK {
	left: 20px;
}

.topSectionNormal-2-vo2m .activityHeader-1PExlk,
.topSectionNormal-2-vo2m .customStatusText-39gdCI {
	color: #FFFFFF;
	text-shadow: 0 0 12px #FFFFFF;
}

.userInfoSection-2acyCx+.userInfoSection-2acyCx {
	border-top: 1px solid transparent;
}

.lookFilled-1Gx00P,
.colorGreen-29iAKY:hover {
	background-color: #33ce87;
	mix-blend-mode: luminosity;
}

.lookFilled-1Gx00P.colorGreen-29iAKY {
	color: white;
}

.topSectionNormal-2-vo2m .tabBarContainer-1s1u-z {
	border-top-color: transparent;
}

.protip-YaFfgO {
	color: #ffffff;
}

.inputDefault-_djjkz {
	color: #FFFFFF;
}

.bodyTitle-Y0qMQz {
	color: #ffffff;
	text-shadow: 0 0 13px #FFFFFF;
}

.input-cIJ7To {
	color: #FFFFFF var(--text-normal);
}

.theme-dark .actionButton-VzECiy {
	border-color: #cecece;
	color: #FFFFFF;
}

.connectedAccount-36nQx7 {
	border-color: transparent;
}

.textarea-2r0oV8:focus {
	background-color: transparent;
}

.userPopout-3XzG_A {
	display: block !important;
	box-shadow: 0 0 15px Black;
	background-size: cover;
	background-position: center;
	background: url(https://media1.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif) center/cover no-repeat;
}

.topSectionNormal-2-vo2m,
.tabBarContainer-1s1u-z {
	border-top-color: transparent;
	border-top: 1px solid transparent;
}

.activityUserPopout-2yItg2 {
	background: transparent;
}

.headerFill-adLl4x {
	background-color: rgba(255, 255, 255, 0);
}

.headerXbox-3G-4PF,
.topSectionXbox-3fWLjS,
.headerPlaying-j0WQBV,
.headerStreaming-2FjmGz,
.topSectionSpotify-1lI0-P,
.headerSpotify-zpWxgT,
.topSectionStreaming-1Tpf5X,
.topSectionPlaying-1J5E4n {
	background: transparent;
}

.textarea-2r0oV8 .inputDefault-_djjkz .input-cIJ7To {
	background: white;
	color: white;
}

.userPopout-3XzG_A .wrapper-3t9DeA {
	z-index: 1;
}

.theme-dark .topSectionNormal-2-vo2m,
.theme-dark .body-3ND3kc {
	background: none;
}

.root-SR8cQa {
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9)), url(https://free4kwallpapers.com/uploads/originals/2020/05/06/-halo-infinite-wallpaper.jpg) center/cover no-repeat;
	animation: zoom .5s;
}

.profileBadge-2BqF-Z {
	background-repeat: no-repeat;
}

[aria-label="Send a gift"] {
	display: none;
}

[aria-label="Open GIF picker"] {
	display: none;
}

@-webkit-keyframes itwentwoosh {
	0% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
	70% {
		box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
	}
	100% {
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@keyframes zoom {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}


/**{cursor: url("http://www.rw-designer.com/cursor-download.php?id=29540"), auto !important;}*/

/*https://cdn.discordapp.com/attachments/694165904287727616/747637009530486784/yes.png
https://steamuserimages-a.akamaihd.net/ugc/966473053143062381/C0C0C893927A3F5E5603F7EE520B90F88AA1E6BA/
https://media1.giphy.com/media/3ov9k1173PdfJWRsoE/giphy.gif
https://i.pinimg.com/originals/61/f7/26/61f72694a5d750f3be692c6e6d73c4d3.gif
https://i.pinimg.com/originals/ac/e3/77/ace3779b91a03b533656395ac969ab0a.jpg*/
